<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Registration Success</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body style="background-color: black;color: white;">
	<div class="container text-center">
		<h3>Te ha registrado correctamente</h3>
		<p>Comprueba tu correo para verificar tu cuenta</p>		
		<h4><a th:href="@{/login}">Login</a></h4>
	</div>
	
</body>
</html>